*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding: 0px;
    color: #000;
  }

  h1 {
    font-size: 48px;
    font-weight: 100;
  }
  .contents1{
    font-size: 20px;
    font-weight: lighter;
  }
  .contents2{
    font-size: 18px;
  }
  .contents3 {
    font-size: 14px;
    font-weight: 100;
  }
  .contents1_bold{
    font-size: 18px;
    font-weight: bold;
  }
  /* --- */

  .result{
    font-size: 24px;
  }

  .intro_bg{
    background-image: url("./image/intro1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 714px;
  }

  .header{
    width:100%;
    display:flex;
    justify-content: flex-end;
    height: 86px;
  }

  .nav{
    display: flex;
    justify-content: flex-end;
    width:calc(1280px - 300px);
    line-height: 86px;
    margin-right: 4%;
  }
  .nav > li {
    margin-left:84px;
  }

  .nav > li > a {
    color: #fff;
  }


  .intro_text{
    width:100%;
    margin:231px auto 231px auto;
    text-align: center;
  }
  .intro_text > h1,
  .intro_text > h4{
    color:#fff;
  }

  .reservation{
    position: relative;
    top:-66px;
    display: flex;
    width:1280px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 4%;
  }
  .reservation > li {
    flex: 1;
    height: 132px;
    margin-right: 4%;
  }

  .reservation > li > h3 {
      text-align: center;
      font-size: 30px;
  }
  .reservation > li > select {
    text-align: center;
    margin-top:37px;
    width: 100%;
    height:57px;
  }

  .reservation > li:not(:last-child) > select{
    border-right:1px solid #E1E1E1;
    font-size:25px;
  }